$font: 'Heebo', sans-serif;
$blue: #21243D;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    color: $blue;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}